.item{
    margin-bottom: 15%;
}
.btn, .activebtn{
    margin-top: 2%; 
    height: 3em;
    width: 30%;
    border: 1px solid #badbad;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    color: #363636;
    margin-bottom: 2%;
    font-size: medium;
}
.btn {
    background-color: #badbad;
}
.btn:hover, .activebtn{
    background-color: #f0f8ff;
}
.list {
    font-family: 'Open Sans', sans-serif;
    color: #363636;
    border: 1px solid #badbad;
    padding: 2%;
    background-color: #f0f8ff;
}
@media screen and (min-width: 731px) {
    .list, .btn, .activebtn {
      font-size: 19px;
    }
  }
@media screen and (max-width: 730px) {
    .list, .btn, .activebtn {
        font-size: 7px;
    }
}